.titulo{
    margin-top: 60px;
}

.cerrar{
    margin-top: 60px;
    transform: rotate(45deg);
}

.terminos{
    display:flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
}

.tamaño{
    margin-top: 150px;
}

.tamaño1{
    height: 50px;
    width: 300px;
}

.tamaño2{
    margin-top: 20px;
    height: 50px;
    width: 300px;
}