form{
    margin-top: 100px;
}

.formulario{
    border-right: 1px solid rgb(88, 75, 88);
}

#email{
    display: flex;
    align-content: flex-start;
}
#password{
    display: flex;
    align-content: flex-start;
}

